{% extends 'base.html' %}
{% load urls %}
{% load static %}

{% block head %}
<title>Home</title>
<link rel="stylesheet" href="{% static 'home/style.css' %}">
{% endblock %}

{% block body %}
<div class="container">

  <h1>Last flats registered</h1>
  <table>
    {% for flat in flats %}
    <tr>
        <td>
        {% if flat.image %}
            <img id="icon" src="{{ flat.image.url }}">
        {% endif %}
        </td>
        <td><a href="{% url 'flats:view_flat' flat.id %}">
        <h3>{{ flat.name }}</h3></a></td>
        <td>{{ flat.description|truncatewords_html:20 }}</td>
    </tr>
    {% empty %}
      <p>No flat available.</p>
    {% endfor %}
  </table>



  <h1>Last users registered</h1>
  <table>
    {% for user in users %}
    <tr>
        <td>
            {% if user.image %}
                <img id="icon" src="{{ user.image.url }}">
            {% endif %}
        </td>
        <td><a href="{% url 'accounts:view_profile_with_pk' pk=user.pk %}">
        <h3>{{ user.user.username }}</h3></a></td>
        <td>{{ user.description|truncatewords_html:20 }}</td>
    </tr>
    {% empty %}
      <p>No user available.</p>
    {% endfor %}
  </table>


</div>

{% endblock %}
