{% extends 'base.html' %}

{% block body %}
<div class="container">

  <div class="col-md-8">
    <style>
    h1 {

         color: MidnightBlue ;
        text-align: left;
         text-transform: uppercase;
         font-size: 30px;
    }

    h2{
      color: MidnightBlue ;
      font-size: 30px;

    }
     button{
    font-size: 28px;
    position: absolute;
    top: 120px;
    left: 650px;
     }

    </style>

    <h1>Home</h1>
    <form method="post">
      {% csrf_token %}
      {{ form.post }}
      <br>
      <button type="submit" class="btn btn-primary">SUBMIT</button>
    </form>
    <h2>{{ text }}</h2>
    {% for post in posts %}
      <h1>{{ post.post }}</h1>
      <p>Posted by: {{ post.user.get_full_name }} on {{ post.created }}</p>
    {% endfor %}
  </div>

  <div class="col-md-4">
    <style>


    a{
        border-style: solid SteelBlue;
    }
    </style>
    <div class="panel panel-default">
   <div class="panel-heading"> <span class="glyphicon glyphicon-user"></span> MEMBERS</div>
     <div class="panel-body">
  <p>

  {% for user in users %}
  <ul class="list-group">
      <a href="{% url 'accounts:view_profile_with_pk' pk=user.pk %}">

          <h3>{{ user.username }}</h3>
  </ul>
    {% endfor %}

  </p>
    </div>
    </div>
  </div>

</div>
</div>

{% endblock %}
