{% extends 'base.html' %}
{% load urls %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}

<div class="container">

<style>

table, tr {
   border: 2px solid SteelBlue;
}

table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

td {
    width: 33%;
}

tr:hover {background-color: #ffffff}

</style>

  <h1>Last flats registered</h1>
  <table>
    {% for flat in flats %}
    <tr>
        <td>
        {% if flat.image %}
            <img src="{{ flat.image.url }}"  width = "200" height = "200"/>
        {% endif %}
        </td>
        <td><a href="{% url 'flats:view_flat' flat.id %}">
        <h3>{{ flat.name }}</h3></a></td>
        <td>{{ flat.description }}</td>
    </tr>
    {% empty %}
      <p>No flat available.</p>
    {% endfor %}
  </table>



      <h1>Last users registered</h1>
      <table>
        {% for user in users %}
        <tr>
            <td>
                {% if user.image %}
                    <img src="{{ user.image.url }}"  width = "200" height = "200"/>
                {% endif %}
            </td>
            <td><a href="{% url 'accounts:view_profile_with_pk' pk=user.pk %}">
            <h3>{{ user.user.username }}</h3></a></td>
            <td>{{ user.description }}</td>
        </tr>
        {% empty %}
          <p>No user available.</p>
        {% endfor %}
      </table>


</div>

{% endblock %}
