{% extends 'base.html' %}


{% block head %}
<title>Change Password</title>
{% endblock %}

{% block body %}

<div class="container">
<img src="  http://www.lewis.kyschools.us/images/change_password.png" alt="dsa" width="160" >


<style>
h1{

  color: MidnightBlue ;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

form {
border-style: groove;
border: 3px groove blue;
padding-top: 30px;
padding-left: 40px;
padding-right: 40px;
padding-bottom: 40px;
width: 500px;

position:absolute;
left:530px;
top: 182px;

}

img{
position: absolute;
left:300px;
top:100px;
}

</style>
  <h1>Change Password</h1>
  <form  method="post">
    {% csrf_token %}
    {{ form.as_p }} <!--form as paragraph for username and password-->
    <button type="submit" class="btn btn-primary">Submit <span class="glyphicon glyphicon-ok"></span></button>
    <br>
  </form>
</div>
{% endblock %}
