{% extends 'base.html' %}


{% block head %}
<title>Change Password</title>
{% endblock %}

{% block body %}

<div class="container">
<img src="  http://www.lewis.kyschools.us/images/change_password.png" alt="dsa" width="160" >



  <h1>Change Password</h1>
  <form  method="post">
    {% csrf_token %}
    {{ form.as_p }} <!--form as paragraph for username and password-->
    <button type="submit" class="btn btn-primary">Submit <span class="glyphicon glyphicon-ok"></span></button>
    <br>
  </form>
</div>
{% endblock %}
