{% extends 'base.html' %}
{% load urls %}

{% block head %}
<title>Find A Mate</title>
{% load static %}
<link rel="stylesheet" href="{% static 'home/style.css' %}">
{% endblock %}

{% block body %}

<div class="container">

      <img id="image1" src="http://www.nedmartin.org/v3/_img/flatmates-logo.png" alt="image2">

    <h1>Erasmus mates</h1>
    <br/><br/>
    <br/><br/>
    <div class="col-md-5">
    {# search filters #}
    <form  id="search" method="get" action="">
        <input type="text" name="q_search" placeholder="Search" value="{{ request.GET.q }}"/>
        <input type="submit" class="btn btn-primary" value="Search"/>
        <ul>
            <li>
                <label>Hard-worker
                    <select name="q_hardworking">
                    {% for choice in hardworking %}
                        <option value={{ choice }}> {{ choice }} </option>
                    {% endfor %}
                    </select>
                </label>
            </li>
            <li>
                <label>Party-lover
                    <select name="q_partying">
                    {% for choice in partying %}
                        <option value={{ choice }}> {{ choice }} </option>
                    {% endfor %}
                    </select>
                </label>
            </li>
            <li>
                <label>Traveler
                    <select name="q_traveling">
                    {% for choice in traveling %}
                        <option value={{ choice }}> {{ choice }} </option>
                    {% endfor %}
                    </select>
                </label>
            </li>
            <li>
                <label>Smoker
                    <select name="q_smoking_permitted">
                    {% for choice in smoking_permitted %}
                        <option value={{ choice }}> {{ choice }} </option>
                    {% endfor %}
                    </select>
                </label>
            </li>
            <li>
                <label>Look for same nationality
                    <select name="q_same_nationality_roommates">
                    {% for choice in same_nationality_roommates %}
                        <option value={{ choice }}> {{ choice }} </option>
                    {% endfor %}
                    </select>
                </label>
            </li>
            <li>
                <label>Time of stay
                    <select name="q_time_of_staying_in_flat">
                    {% for choice in time_of_staying_in_flat %}
                        <option value={{ choice }}> {{ choice }} </option>
                    {% endfor %}
                    </select>
                </label>
            </li>
            <li>
                <label>Max number of roomates
                    <select name="q_num_of_roommates">
                    {% for choice in num_of_roommates %}
                        <option value={{ choice }}> {{ choice }} </option>
                    {% endfor %}
                    </select>
                </label>
            </li>
            <li>
                <label>Sex
                    <select name="q_sex">
                    {% for choice in sex %}
                        <option value={{ choice }}> {{ choice }} </option>
                    {% endfor %}
                    </select>
                </label>
            </li>
            <li>
                <label>Country of origin
                <input type="text" name="q_country_of_origin" placeholder="country_of_origin" value="{{ request.GET.q_country_of_origin }}"/>
                </label>
            </li>
            <li>
                <label>Country of studies
                <input type="text" name="q_country_of_studies" placeholder="country_of_studies" value="{{ request.GET.q_country_of_studies }}"/>
                </label>
            </li>
            <li>
                <label>City of studies
                <input type="text" name="q_city_of_studies" placeholder="city_of_studies" value="{{ request.GET.q_city_of_studies }}"/>
                </label>
            </li>
            <li>
                <label>University
                <input type="text" name="q_university" placeholder="university" value="{{ request.GET.q_university }}"/>
                </label>
            </li>
            <li>
                <label>Faculty
                <input type="text" name="q_faculty" placeholder="faculty" value="{{ request.GET.q_faculty }}"/>
                </label>
            </li>
        </ul>
    </form>
</div>
<div class="col-md-7">
    {% for user in users %}
      <form  id="form2" method="get" action="">
        <h3>{{ user }}</h3>
        <p>{{ user.first_name }} {{ user.last_name }}</p>
        <p><a href="{% url 'accounts:view_profile_with_pk' user.id %}">Show profile</a>
        {% empty %}
        <p>No user available.</p>
            </form>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if users.has_previous %}
                <a href="{% add_params request.get_full_path page=users.previous_page_number %}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ users.number }} of {{ users.paginator.num_pages }}.
            </span>

            {% if users.has_next %}
                <a href="{% add_params request.get_full_path page=users.next_page_number %}">next</a>
            {% endif %}
        </span>
    </div>
</div>
</div>

{% endblock %}
