{% extends 'base.html' %}

{% block head %}
<title>Login</title>  <!--tab name-->
{% endblock %}

{% block body %}
<div class="container">
  <body>
      <img id="image1" src="http://worldemart.com/images/portal/real-estate-icon.png" alt="image2" style="width:200px height:120px">

    </body>
  <style>
  #image1{

       width: 150px;
       position: absolute;
       right: 1080px;
       top: 100px;

  }


  h1 {

     color: MidnightBlue ;
    text-align: center;
     text-transform: uppercase;
       font-size: 50px;
  }

  h2 {
      color: MidnightBlue ;
      text-transform: uppercase;
       font-size: 30px;
        border-radius: 4px;
        padding: 1px 320px;
        position: absolute;
        top: 209px;
        left:400px;
  }

  form {
      border-style: solid SteelBlue;
     position: relative;
     top: 95px;
      border: 3px solid SteelBlue ;
     width: 30%;
      height:400px;
     margin: 10px 300px 150px 400px;
     box-sizing: border-box;
     padding-top: 15px;
     padding-right: 300px;
    padding-bottom: 30px;
     padding-left: 80px;
     border-radius: 4px;

  }

  image{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    position: absolute;
    left: 250px;
    top: 160px;
  }

  .responsive {
      padding: 1px 320px;
      float: left;
      position: absolute;
      left: :100px;

  }

  button{
  font-size: 20px;
  color: DarkRed ;
  }



 h3{
    padding: 1px 320px;
    position: absolute;
    top: 160px;
    left: : 200px;
  text-transform: uppercase;
   font-size: 26px;
    font-style: oblique;
}

  </style>

  <h1>Welcome</h1>

  <h2>Login</h2>
<h3>BEST WAY TO FIND FLAT AND FLATMATE <span class="glyphicon glyphicon-home" aria-hidden="true"></span></h3>


  <form method="post">
      <img id="image2" src="http://www.freeiconspng.com/uploads/user-login-icon-29.png" alt="image2" style="width:120px" position="absolute" left="30px">
    <!--cross site request forgery = csrf-->
    {% csrf_token %}
    {{ form.as_p }} <!--form as paragraph for username and password-->
    <button type="submit" class="btn btn-primary"> Login <span class="glyphicon glyphicon-log-in"></span> </button>
  </form>
</div>
{% endblock %}
