{% extends 'base.html' %}

{% block head %}
<title>Login</title>  <!--tab name-->
{% endblock %}

{% block body %}
<div class="container">
  <body>
      <img id="image1" src="http://worldemart.com/images/portal/real-estate-icon.png" alt="image2" style="width:200px height:120px">

    </body>

  <h1>Welcome</h1>

  <h2>Login</h2>
<h3>BEST WAY TO FIND FLAT AND FLATMATE <span class="glyphicon glyphicon-home" aria-hidden="true"></span></h3>


  <form method="post">
      <img id="image2" src="http://www.freeiconspng.com/uploads/user-login-icon-29.png" alt="image2" style="width:120px" position="absolute" left="30px">
    <!--cross site request forgery = csrf-->
    {% csrf_token %}
    {{ form.as_p }} <!--form as paragraph for username and password-->
    <button type="submit" class="btn btn-primary"> Login <span class="glyphicon glyphicon-log-in"></span> </button>
  </form>
</div>
{% endblock %}
