{% extends 'base.html' %}

{% block head %}
<title>Logout</title>  <!--tab name-->
{% endblock %}

{% block body %}
<div class="container">
  <body>
      <img id="image1" src="http://findicons.com/files/icons/1786/oxygen_refit/128/gnome_panel_force_quit.png" alt="image22" style="width:100px">

    </body>
  
  <h1>Logged out</h1>
  <p>
    You have logged out!
  </p>
  <p> You will be automatically redirected in few seconds </p>
  <p> If you are not redirected, please follow this
      <a href="{% url 'accounts:login' %}">link</a></p>


</div>

<script>
    function redirect(){
       window.location.href = "{% url 'accounts:login' %}";
    }

    setTimeout(redirect, 5000);
</script>
{% endblock %}
