{% extends 'base.html' %}

{% block head %}
<title>Logout</title>  <!--tab name-->
{% load static %}
<link rel="stylesheet" href="{% static 'home/style.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <h1>Logged out</h1>
    <img class="middle" src="http://findicons.com/files/icons/1786/oxygen_refit/128/gnome_panel_force_quit.png" alt="image22" style="width:100px">
    <h3 align="center">
    You are logged out!
    </h3>
  <p align="center"> You will be automatically redirected in few seconds </p>
  <p align="center"> If you are not redirected, please follow this
      <a href="{% url 'accounts:login' %}">link</a></p>


</div>

<script>
    function redirect(){
       window.location.href = "{% url 'accounts:login' %}";
    }

    setTimeout(redirect, 5000);
</script>
{% endblock %}
