{% extends 'base.html' %}
<!--{% load staticfiles %}-->

{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}

<div class="container">
  <img src="http://www.anz.com/resources/5/1/51effbe1-70cb-4203-b8f2-c1555c306d46/1/profile.png" alt="dsa" width="120" >
<style>
h1{

  color: MidnightBlue ;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
}

form {
border-style: groove;
border: 3px groove blue;
padding-top: 30px;
padding-left: 40px;
padding-right: 40px;
padding-bottom: 1px;
width: 500px;

position:absolute;
left:530px;
top: 150px;

}

img{
position: absolute;
left:320px;
top:100px;
}


</style>
  <h1>Profile</h1>
<form>

  <p>Username: <b>{{ user }}</b></p>
  <p>First_name: <b>{{ user.first_name }}</b></p>
  <p>Last_name: <b>{{ user.last_name }}</b></p>
  <p>Email: <b>{{ user.email }}</b></p>
  <p>Phone number: <b>{{ user.userprofile.phone }}</b></p>
  <p>Sex: <b>{{ user.userprofile.sex }}</b></p>
  <p>Age: <b>{{ user.userprofile.age }}</b></p>
  <p>Country of Origin: <b>{{ user.userprofile.country_of_origin }}</b></p>
  <p>Country of Studies: <b>{{ user.userprofile.country_of_studies }}</b></p>
  <p>City of Studies: <b>{{ user.userprofile.city_of_studies }}</b></p>
  <p>Region of City: <b>{{ user.userprofile.region }}</b></p>
  <p>University: <b>{{ user.userprofile.university }}</b></p>
  <p>Faculty: <b>{{ user.userprofile.faculty }}</b></p>
  <p>Time staying in Flat: <b>{{ user.userprofile.time_of_staying_in_flat }}</b></p>
  <p>Smoker: <b>{{ user.userprofile.smoker }}</b></p>
  <p>Men/Women in room: <b>{{ user.userprofile.men_or_women_on_room }}</b></p>
  <p>Preferred same nationality roommates: <b>{{ user.userprofile.same_nationality_roommates }}</b></p>
  <p>Preferred Number of people in room: <b>{{ user.userprofile.num_of_people_on_room }}</b></p>
  <p>Preferred: <b>{{ user.userprofile.prefered_cuisine }}</b></p>

  {% if user.userprofile.image %}
  <img src="{{ user.userprofile.image.url }}"  width = "150" height = "150"/>
  {% endif %}
  <br>

<f/form>

</div>

{% endblock %}
