{% extends 'base.html' %}


{% block head %}
<title>Profile</title>
{% endblock %}

{% block body %}

<div class="container">
  <h1>Profile</h1>
  <p>Username: <b>{{ user }}</b></p>
  <p>First_name: <b>{{ user.user.first_name }}</b></p>
  <p>Last_name: <b>{{ user.user.last_name }}</b></p>
  <p>Email: <b>{{ user.user.email }}</b></p>
  <p>Phone number: <b>{{ user.phone }}</b></p>
  <p>Sex: <b>{{ user.sex }}</b></p>
  <p>Age: <b>{{ user.age }}</b></p>
  <p>Country of Origin: <b>{{ user.country_of_origin }}</b></p>
  <p>Country of Studies: <b>{{ user.country_of_studies }}</b></p>
  <p>City of Studies: <b>{{ user.city_of_studies }}</b></p>
  <p>Region of City: <b>{{ user.region }}</b></p>
  <p>University: <b>{{ user.university }}</b></p>
  <p>Faculty: <b>{{ user.faculty }}</b></p>
  <p>Time staying in Flat: <b>{{ user.time_of_staying_in_flat }}</b></p>
  <p>Smoker: <b>{{ user.smoker }}</b></p>
  <p>Men/Women in room: <b>{{ user.men_or_women_on_room }}</b></p>
  <p>Prefered same nationality roommates: <b>{{ user.same_nationality_roommates }}</b></p>
  <p>Prefered Number of people in room: <b>{{ user.num_of_people_on_room }}</b></p>
  <p>Prefered_cuisine: <b>{{ user.prefered_cuisine }}</b></p>

  {% if user.userprofile.image %}
  <img src="{{ user.image.url }}"  width = "150" height = "150"/>

  {% endif %}
  <p> </p>


</div>

{% endblock %}
