{% extends 'base.html' %}

{% block head %}
<title>Register</title>  <!--tab name-->
{% load static %}
<link rel="stylesheet" href="{% static 'home/style.css' %}">
{% endblock %}


{% block body %}
<div class="container">
  <img class="middle" src="https://www.seodiesel.com/img/login/register.png" alt="dsa" width="160" >

  <h1>Register</h1>
  <form method="post">
    <!--cross site request forgery = csrf-->
    {% csrf_token %}
    {{ form.as_p }} <!--form as paragraph for username and password-->
    <button type="submit" class="btn btn-primary">Submit <span class="glyphicon glyphicon-log-in"></span></button>
  </form>
</div>
{% endblock %}
