{% extends 'base.html' %}

{% block head %}
<title>Password Reset</title>  <!--tab name-->
{% endblock %}

{% block body %}
<div class="container">
  <body>
      <img  src="http://www.idbgbf.org/App_Themes/portal/Images/account/forgotpassword.png" alt="image2" style="width:160px">

    </body>
  <style>
  h1{
    color: darkred;
   text-align: center;
    text-transform: uppercase;
    font-size: 36px;
  }

  form {
    border-style: solid SteelBlue;
   position: relative;
   top: 40px;
    border: 3px solid SteelBlue ;
   width: 30%;
    height:120px;
   margin: 10px 300px 150px 400px;
   box-sizing: border-box;
  padding-top: 30px;
  padding-right: 50px;
   padding-bottom: 50px;
  padding-left: 50px;
   border-radius: 4px;

  }

  img{
  position: absolute;
  left:1020px;
  top:100px;
  }

  button{
    font-size: 16px;
    color: DarkRed ;
   position: absolute;
    left: 110px;
  }
  p{
    font-weight: bold;
  }

p2{
    font-weight: bold;
}


  </style>
  <h1>Password Reset</h1>
  <p>
    Forgotten your password? Enter your email address below,
  </p>
  <p2>
    and we'll email instructions for setting a new one.
  </p2>
  <form method="post">
    <!--cross site request forgery = csrf-->
    {% csrf_token %}
    {{ form.as_p }} <!--form as paragraph for username and password-->
    <button type="submit">Reset Password  <span class="glyphicon glyphicon-ok"></span></button>
  </form>
</div>
{% endblock %}
