{% extends 'base.html' %}

{% block head %}
<title>Password Reset</title>  <!--tab name-->
{% endblock %}

{% block body %}
<div class="container">
  <body>
      <img  src="http://www.idbgbf.org/App_Themes/portal/Images/account/forgotpassword.png" alt="image2" style="width:160px">

  </body>
  
  <h1>Password Reset</h1>
  <p>
    Forgotten your password? Enter your email address below,
  </p>
  <p2>
    and we'll email instructions for setting a new one.
  </p2>
  <form method="post">
    <!--cross site request forgery = csrf-->
    {% csrf_token %}
    {{ form.as_p }} <!--form as paragraph for username and password-->
    <button type="submit">Reset Password  <span class="glyphicon glyphicon-ok"></span></button>
  </form>
</div>
{% endblock %}
