{% extends 'base.html' %}

{% block head %}
<title>Create Flat</title>
{% load static %}
<link rel="stylesheet" href="{% static 'home/style.css' %}">
{% endblock %}


{% block body %}
<div class="container">

  <img id="image1" src="http://downloadicons.net/sites/default/files/button-home-house-icon-63650.png" alt="dsa" >
  <h1>Create Flat</h1>
  <form method="post">
    <!--cross site request forgery = csrf-->
    {% csrf_token %}
    {{ form.as_p }} <!--form as paragraph for username and password-->
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
{% endblock %}
