{% extends 'base.html' %}


{% block head %}
<title>Edit Flat</title>
{% load static %}
<link rel="stylesheet" href="{% static 'home/style.css' %}">
{% endblock %}


{% block body %}
<div class="container">
  <img class="middle" src="http://downloadicons.net/sites/default/files/button-home-house-icon-63650.png" alt="dsa" width="200" >
  <h1>Edit Flat</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ flat_form.as_p }}
    <button type="submit" class="btn btn-primary">Submit</button>
    <br>
  </form>
</div>
{% endblock %}
