{% extends 'base.html' %}


{% block head %}
<title>Find A Flat</title>
{% load static %}
<link rel="stylesheet" href="{% static 'home/style.css' %}">
{% endblock %}

{% block body %}

<div class="container">
    <h1>{{flat.name}}</h1>
    <h2>Published on : {{flat.date}} by {{flat.user}}</h2>
  <div class="col-md-4">
    <h3>Flat details</h3>
    <p>Description : <b>{{ flat.description }}</b></p>
    <p>Localisation : <b>{{ flat.place }}</b></p>
    <p>Address : <b>{{ flat.adress }}</b></p>
    <br/>
    <h3>Flat specifications</h3>
    <p>Price : <b>{{ flat.price }}</b></p>
    <p>Smoking permitted : <b>{{ flat.smoking_permitted }}</b></p>
    <p>Prefer same nationality : <b>{{ flat.same_nationality_roommates }}</b></p>
    <p>Duration : <b>{{ flat.time_of_staying_in_flat }}</b></p>
    <p>Total number of rooms : <b>{{ flat.num_of_roommates }}</b></p>
    <p>Number of available rooms : <b>{{ flat.num_of_room_available }}</b></p>
    <p>Only for women or men :<b>{{ flat.men_or_women_on_room }}</b></p>
    <p>couples accepted : <b>{{ flat.couples_accepted }}</b></p>
  </div>
  <div class="col-md-4">
      <h3>Ambiance</h3>
      <p>Hard-working: <b>{{ user.userprofile.hardworking }}</b></p>
      <p>Partying: <b>{{ user.userprofile.partying }}</b></p>
      <p>Traveling: <b>{{ user.userprofile.traveling }}</b></p>
      <br/>
  </div>
  <div class="col-md-4">
    {% if flat.image %}
    <img id="imgprofile" src="{{ flat.image.url }}" >
    {% endif %}
  </div>



</div>

{% endblock %}
